{% extends "base.html" %}

{% block preambule %}
    <style>
        #horizontal_centering {
            background-color: #a3f5a7;
            border-width: 0;
            margin: 0;
            display: flex;
            justify-content: space-around;
            height: 100%;
        }
        #vertical_centering {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        #login_form {
            padding-top: 5%;
            padding-bottom: 10%;
            padding-left: 10px;
            padding-right: 10px;
            border-color: black;
            border-width: 2px;
            background-color: green;
            display: flex;
            flex-direction: column;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="horizontal_centering">
        <div id="vertical_centering">
            <form action="" method="post" id="login_form">
                <input type="password" autofocus placeholder="new password" name="password">
                <input type="password" placeholder="new password confirmation" name="confirmation">
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock %}
