{% extends "base.html" %}

{% block preambule %}
    <style>
        .section {
            background: linear-gradient(
                    0deg,
                    rgb(255, 255, 255) 0%,
                    rgb(240, 255, 255) 3%,
                    rgb(240, 255, 255) 97%,
                    rgb(255, 255, 255) 100%
            );
            position: sticky;
            top: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        <div class="section header">
            <p>Granted tokens</p>
        </div>
        <div>
            <ul>
                  {%- for idx in range(100) %}
                  <li>{{ idx }} </li>
                  {%- endfor %}
            </ul>
        </div>
    </div>
    <div>
        <div class="section header">
            <p>Registered oauth2 applications</p>
            <a href="{{ url_for('oauth.create_client') }}">Add new</a>
        </div>
        <div>
            <ul>
                  {%- for idx in range(100) %}
                  <li>{{ idx }} </li>
                  {%- endfor %}
            </ul>
        </div>
    </div>
{% endblock %}